In [28]:
#import libraries

import pandas as pd
import numpy as np
import os

In [29]:
#import data

df_ords = pd.read_csv(r'C:\Users\mrtak\08-2023 Instacart Business Analytics\02 Data\Prepared Data\'orders_checked.csv', index_col = False)
df_ords_prior = pd.read_csv(r'C:\Users\mrtak\08-2023 Instacart Business Analytics\02 Data\Original Data\orders_products_prior.csv', index_col = False)

In [30]:
# check the output df_ords
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [31]:
df_ords.shape

(3421083, 8)

In [32]:
df_ords_prior.shape

(13072402, 4)

In [33]:
#create merged dataframe
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [34]:
#dataframe head
df_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2,473747,1,prior,3,3,12,21.0,196.0,1.0,1.0,both
1,2,473747,1,prior,3,3,12,21.0,12427.0,2.0,1.0,both
2,2,473747,1,prior,3,3,12,21.0,10258.0,3.0,1.0,both
3,2,473747,1,prior,3,3,12,21.0,25133.0,4.0,0.0,both
4,2,473747,1,prior,3,3,12,21.0,30450.0,5.0,0.0,both

In [35]:
#check frequency
df_merged_large['_merge'].value_counts()

both          13072402
left_only            0
right_only           0
Name: _merge, dtype: int64

In [36]:
#export merged dataframe
df_merged_large.to_pickle(r'C:\Users\mrtak\08-2023 Instacart Business Analytics\02 Data\Prepared Data\'orders_products_combined.pkl')